<!DOCTYPE html>
<html lang="en">
<head>
  <title>Awesome Insurance Company</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Awesome Insurance Company</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Insurance</a></li>
      <li><a href=#>Dashboard</a></li>
      <li><a href="#">Balance</a></li><br><br>
    </ul>
  </div>
</nav>
<form name="Dashboard" method="post" action="local_branch_fund">
  <div class="container">
    <h2>Awesome Insurance Company</h2>
    <h3>Dashboard</h3>
               
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Balance(EUR)</th>
          
        </tr>
      </thead>
      <tbody>
          <% for(var i=0; i < data.length; i++) { %>
            <tr>
              <td><%= data[i].balance %></td>

              <td></td>
              
     
            </tr>
         <% } %>
      </tbody>
    </table>
  </div>
    </form>
  </body>
  </html>
  